format = """
[╭─](subtle)\
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$python\
$rust\
$golang\
$java\
$docker_context\
$line_break\
[╰─](subtle)$character"""

palette = "rose_pine_dawn"

[palettes.rose_pine_dawn]
base = "#faf4ed"
surface = "#fffaf3"
overlay = "#f2e9e1"
muted = "#9893a5"
subtle = "#797593"
text = "#575279"
love = "#b4637a"
gold = "#ea9d34"
rose = "#d7827e"
pine = "#286983"
foam = "#56949f"
iris = "#907aa9"
highlight_low = "#f4ede8"
highlight_med = "#dfdad9"
highlight_high = "#cecacd"

[character]
success_symbol = "[❯](pine)"
error_symbol = "[❯](love)"
vimcmd_symbol = "[❮](foam)"

[directory]
style = "bold pine"
truncation_length = 3
truncate_to_repo = true
format = "[$path]($style)[$read_only]($read_only_style) "
read_only = " 󰌾"
read_only_style = "love"

[username]
style_user = "love"
style_root = "bold love"
format = "[$user]($style) "
disabled = false
show_always = true

[hostname]
ssh_only = false
style = "foam"
format = "[@$hostname]($style) "
disabled = false

[git_branch]
symbol = " "
style = "iris"
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_status]
style = "rose"
format = "([$all_status$ahead_behind]($style) )"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
up_to_date = ""
untracked = "?${count}"
stashed = "$${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[python]
symbol = ""
style = "gold"
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[rust]
symbol = ""
style = "love"
format = "[$symbol($version )]($style)"

[golang]
symbol = "󰟓"
style = "pine"
format = "[$symbol($version )]($style)"

[java]
symbol = " "
style = "rose"
format = "[$symbol($version )]($style)"

[docker_context]
symbol = " "
style = "foam"
format = "[$symbol$context]($style) "
only_with_files = true

[package]
symbol = "󰏗 "
style = "muted"
format = "[$symbol$version]($style) "

[cmd_duration]
min_time = 500
style = "muted"
format = "[$duration]($style) "

[time]
disabled = false
time_format = "%R"
style = "subtle"
format = '[$time]($style) '

[line_break]
disabled = false
